.nav {
  grid-area: n;
  /* background-color: rgb(49, 189, 165); */
  background: linear-gradient(to bottom, #81ff76, #ffffff);
  padding: 20px;
}

.item a {
  color: black;
  text-decoration: none;
}

.item a.activeLink {
  color:gold;
}