.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: gold;
}

.dialogs img {
  border-radius: 30%;
  width: 30px;
}

.messages {
  padding: 10px;
}

/* .message {
} */
